html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

@font-face {
  font-family: "Existence Light";
  src: url("/fonts/existence/Existence-Light.otf") format("opentype"); }
@font-face {
  font-family: "Roboto Light";
  src: url("/fonts/roboto/Roboto-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Roboto Regular";
  src: url("/fonts/roboto/Roboto-Regular.ttf") format("truetype"); }
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  color: white;
  font-family: "Roboto Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  overflow-x: hidden; }
  body .wrapper {
    min-height: 100%;
    overflow-x: hidden;
    position: relative; }
    body .wrapper .content {
      padding-bottom: 53px; }
  body a {
    color: #779ecb;
    text-decoration: none; }
  body h1 {
    margin: 0; }
  body p {
    margin: 0; }
  body .clear {
    clear: both;
    font-size: 1px;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0; }

.pages-index .gradient {
  background: -webkit-linear-gradient(#7d0000, #640064);
  background: -moz-linear-gradient(#7d0000, #640064);
  background: -o-linear-gradient(#7d0000, #640064);
  background: linear, false, #7d0000, #640064;
  height: 100%;
  position: absolute;
  width: 100%; }
.pages-index .pattern {
  background-image: url("/img/pattern.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%; }
.pages-index .name {
  margin-top: 60px;
  position: absolute;
  text-align: center;
  width: 100%; }
  .pages-index .name h1 {
    font-family: "Existence Light"; }
    @media screen and (min-width: 0px) and (max-width: 360px) {
      .pages-index .name h1 {
        font-size: 41px; } }
    @media screen and (min-width: 360px) {
      .pages-index .name h1 {
        font-size: 49px; } }
  .pages-index .name p {
    font-size: 15px; }
  @media screen and (min-width: 0px) and (max-width: 360px) {
    .pages-index .name p {
      display: none; } }
.pages-index .logo {
  background-image: url("/img/logo.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  left: 50%;
  position: absolute;
  top: 50%; }
  .pages-index .logo.opacity-1 {
    opacity: 0.5; }
  .pages-index .logo.opacity-2 {
    opacity: 0.25; }
  @media screen and (min-width: 0px) and (max-width: 360px) {
    .pages-index .logo {
      background-size: 100px 100px;
      height: 100px;
      margin-left: -50px;
      margin-top: -50px;
      width: 100px; } }
  @media screen and (min-width: 360px) and (max-width: 680px) {
    .pages-index .logo {
      background-size: 150px 150px;
      height: 150px;
      margin-left: -75px;
      margin-top: -75px;
      width: 150px; } }
  @media screen and (min-width: 680px) {
    .pages-index .logo {
      background-size: 200px 200px;
      height: 200px;
      margin-left: -100px;
      margin-top: -100px;
      width: 200px; } }
.pages-index .coming {
  bottom: 0;
  position: absolute;
  padding-bottom: 60px;
  width: 100%; }
  .pages-index .coming p {
    text-align: center; }
    @media screen and (min-width: 0px) and (max-width: 360px) {
      .pages-index .coming p {
        font-size: 13px; } }
    @media screen and (min-width: 360px) {
      .pages-index .coming p {
        font-size: 15px; } }

/*# sourceMappingURL=application.css.map */
